body{
    font-family: Arial;padding:20px;

}

.product-grid{
    display: grid;gap: 20px;  grid-template-columns: repeat(auto-fit,minmax(250px,2fr)) ; padding: 10px;width: 100%;box-sizing: border-box;
}

.product-grid img{
width: 100%; height:400px; object-fit:cover; border-radius: 20px;

}

.card.produtos-item{
    background-color: #30d34b; border-radius: 10px; padding: 15px; box-shadow: 0 3px 8px rgba(0,0,0,0.15px); display: flex; flex-direction: column;align-items: center;
}


