body{
    font-family: Arial;padding:20px;

}

.product-grid{
    display: grid;gap: 20px;  grid-template-columns: repeat(auto-fit,minmax(200px,1fr)) ; padding: 10px;width: 100%;box-sizing: border-box;
}

.product-grid img{
width: 100%; height:180px; object-fit:cover; border-radius: 10px;
}


