body{
    font-family: Arial;padding:20px;

}

.brand{
    text-align: center;width: 100%;padding: 10px;
}

.product-grid{
    display: grid;gap: 10px;  grid-template-columns: repeat(auto-fit,minmax(250px,2fr)) ; padding: 10px;width: 100%;box-sizing: border-box;
}

.product-grid img{
width: 100%; height:450px; object-fit:fill; border-radius: 20px;

}

.card {
    text-align: center;
}

.card.produtos-item{
    background-color: #6bbe79; border-radius: 10px; padding: 20px; box-shadow: 5 3px 15px rgba(0,0,0,0.15px); display: flex; flex-direction: column;align-items: center;
}

.card.produtos-itens img{
    width: 80%; border-radius: 10px; object-fit: cover;
}

.card-info h3{
    margin: 5px 0; text-align: justify;
}

.card-bootom{
    width: 100%;margin-top: 20px;
}

#sobre{
    background-color: #6fb277;padding: 20px;text-align: center;
}

.lista-de-produtos h2{
    text-align: center;background-color: #116f0d;color: white;
}

.banner img{
    display: block;margin-left: auto;margin-right: auto;text-align: center;width: 95%;padding: 10px;height: 300px;
}
.preco{
    font-size: 18px;display: block;text-align: center;margin-bottom: 15px;
}

.card-bootom input[type="number"]{
width: 75%;padding: 6px;margin: 6px 0;font-size: 16px;border-radius: 8px;
}

.card-bootom button{
    width: 80%;padding:8px;background-color: #084e06;color:white;border: none;border-radius: 8px;cursor: pointer;
}

.card-bootom button:hover{
    background: #5ae799;
}


